/*Typography*/
h2{
    color: #403F3D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, sans-serif;
    font-size: 61px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 0;
}
h3{
    color: #403F3D;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 0;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
.allocate-text{
    font-style: italic;
    color: #B0907A;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.text{
    font-family: Iter, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #403F3D;
    font-feature-settings: 'clig' off, 'liga' off;
}
.link{
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-decoration: none;
    color:  #403F3D;
    font-feature-settings: 'clig' off, 'liga' off;
}
.caption{
    color: #403F3D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%
}
.heading-text{
    color: #E1D4C9;
    font-feature-settings: 'clig' off, 'liga' off;
}
.slider-text{
    text-align: center;
    align-self: stretch;
}
.avaliable-text{
    color: #403F3D;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    width: 92px;
}
.footer-links{
    color: #E1D4C9;
}


/*Layout*/
body{
    background-color: #E1D4C9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 1958px;
    gap: 100px;
    padding: 20px 0 40px 0;
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    max-width: 1360px;
    padding: 0 40px;
}
header{
    max-width: 1360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.logo{
    width: 100px;
    height: 60px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex: 1 0 0;
    gap: 40px;
}
nav a{
    position: relative;
}
#menu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    position: relative;
}
.menu-logo{
    height: 20px;
    width: 20px;
}

.offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}
.offer-heading{
    color: #403F3D;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    width: 800px;

    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}
.controls-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.control{
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    background: none;
}
.active{
    background: #665F55;
}
.active p{
    color: #C1B6AD;
}
.active .control img{
    background: #E1D4C9;
}
.control img{
    background: #C1B6AD;
    border-radius: 100px;
    height: 30px;
    width: 30px;
}

footer{
    display: flex;
    max-width: 1360px;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-self: stretch;
    border-radius: 40px;
    background: #665F55;
    margin: 0 40px;
}
.offer-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
}
.socials{
    display: flex;
    align-items: center;
    gap: 12px;
}
.social-icon{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    background: none;
    transition: 500ms;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    height: 186px;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    height: 116px;
}
.link-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    position: relative;
}
